<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ASU.ApeejayStyaUniversity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/asuthumbnail"
        android:label="@string/app_name"
        android:roundIcon="@drawable/asuthumbnail"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourseShopping"></activity>
        <activity android:name=".Apricot" />
        <activity
            android:name=".PinEntry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityChoice" />
        <activity
            android:name=".OtpVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSelect"
            android:label="@string/title_activity_user_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>